//compress: true
@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'),
        url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*:not(header) > hr {
    opacity: 1 !important;
}

.set-title() {
    padding-top: 50px;

    @media (max-width:670px) {
        ._bot {
            font-size: 12px !important;
        }
    }

    @media (max-width:740px) and (min-width:500px) {
        ._top {
            h2 {
                font-size: 80px !important;
            }

            h3 {
                font-size: 20px !important;
            }
        }
    }

    @media (max-width:500px) {
        ._top {
            h2 {
                font-size: 60px !important;
            }

            h3 {
                font-size: 20px !important;
            }
        }

        ._bot {
            font-size: 10px !important;
        }
    }

    ._top {
        text-align: center;

        .h2 {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;

            h2 {
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 900;
                font-size: 100px;
                line-height: 150px;
                letter-spacing: 0.2em;
                color: #303030;
            }
        }

        h3 {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 60px;
            letter-spacing: 0.2em;
            color: #D9D9D9;
            margin-top: -110px;
            position: relative;
            z-index: 99;
        }
    }

    ._bot {
        max-width: 83%;
        margin: 35px auto 0 auto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        display: block;
        text-align: center;
        color: #A6A6A6;
    }
}

.bold {
    font-weight: 900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue';
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: visible;
    background: #252525;
}

hr {
    border-bottom: 2px solid #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
}

/*Header*/
header {
    border-bottom: 30px solid #202020;
    max-height: 749px + 41px + 1px;
    min-height: 1080px !important;
    width: 100%;
    height: 150vh;
    min-height: 100vh;
    background: url(../img/head.jpg) no-repeat center / cover;
    background-position: right 40%;

    nav {
        height: 9.5%;
        width: 100%;

        .nav-content {
            height: 100%;
            max-width: 77.08%;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;

            .logo {
                img:last-of-type {
                    margin: 8.5px 0 0 9px;
                }

                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            .links {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                ul {
                    align-items: center;
                    justify-content: space-around;
                    list-style: none;
                    display: flex;
                    width: 100%;
                    max-width: 60%;

                    @media (max-width:1200px) and (min-width:950px) {
                        & {
                            max-width: 70%;
                        }
                    }

                    @media (max-width:950px) {
                        & {
                            max-width: 100%;
                        }
                    }

                    float: right;
                    height: 100%;

                    li {
                        a {
                            text-decoration: none;
                            color: white;
                            transition: all 0.3s;
                            transition-timing-function: linear;

                            &:hover {
                                color: #34C759;
                            }
                        }
                    }
                }
            }
        }
    }

    .header__main {
        height: 100% - 12%;
        width: 100%;

        .header__title {
            max-width: 77.77%;
            padding: 6.3% 0 0 0;
            margin: 0 auto 0 auto;

            .title_top {
                h1 {
                    width: 100%;
                    font-style: normal;
                    font-weight: 250;
                    font-size: 72px;
                    line-height: 87px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: capitalize;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .title_bot {
                max-width: 60%;
                margin: 5px auto 0 auto;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: -0.2px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.7;
                text-align: center;
            }

            .title_btn {
                width: 100%;

                button {
                    display: block;
                    margin: 40px auto 0 auto;
                    border: none;
                    background: #34C759;
                    border-radius: 43px;
                    width: 220px;
                    height: 72px;
                    letter-spacing: 0.2em;
                    font-weight: 900;
                }
            }

            .header__cards {
                margin-top: 70px;
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                .header__card {
                    text-align: center;
                    width: 22.27%;
                    min-width: 200px;
                    display: flex;
                    min-height: 95px;
                    height: 95px;
                    max-height: 95px;
                    flex-direction: column;
                    justify-content: center;

                    img {
                        max-height: 20px;
                        max-width: 20px;
                        margin: 0 auto 16px auto;
                    }

                    &:first-child {
                        img {
                            max-height: 20px !important;
                            max-width: 20px !important;
                        }
                    }

                    .top {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 30px;
                        text-align: center;
                        color: #FFFFFF;
                    }

                    .bot {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        text-align: center;
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.about {
    .wrap {
        max-width: 76%;
        margin: 0 auto;
    }

    max-width: 77.77%;
    height: auto;
    min-height: 400px;
    background: #202020;
    margin: -270px auto 0 auto;

    .about__title {
        .set-title();
    }

    .about__slider {
        width: 100%;
        max-width: 100%;
        min-height: 207px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        .img {
            flex: 121;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 60px;
                max-width: 60px;
                display: block;
            }

            &-right {
                transform: rotateZ(180deg);
            }
        }

        .slider__items {
            @mt1 : 30px;
            flex: 734;
            height: 270px
                /*+ @mt1 + 40px*/
            ;

            .slider-items-container {
                width: 100%;
                padding-top: @mt1;
                padding-bottom: 50px !important;
                height: 100%;
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;

                img {
                    flex: 1;
                    //max-height: 100%;
                    width: 48%;
                    max-width: 350px;
                    display: block;
                }

            }
        }
    }
}

.set-often-title() {
    @media (max-width:500px) {
        .h3 h3 {
            font-size: 20px !important;
        }

        .h2 h2 {
            font-size: 60px !important;
        }
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    ._top {
        @min-width: 289px;
        font-size: 100px;
        display: flex;
        max-width: 26.03%;
        min-width: @min-width;
        height: 100%;
        justify-content: center;
        align-items: center;

        .h2 {
            h2 {
                font-size: calc(@min-width / 3);
                color: #303030;
                letter-spacing: 0.2em;
            }

            position: absolute;
            z-index: 1;
        }

        .h3 {
            min-width: 300px;

            h3 {
                color: #fff;
                width: 100%;
                font-size: 36px;
                font-style: normal;
                font-weight: 300;
                font-size: 36px;
                text-align: center;
                letter-spacing: 0.2em;
                text-transform: capitalize;
            }


            position: absolute;
            z-index: 2;

        }

        position: relative;

        .hr {
            max-width: 60px;
            margin: 28px auto 55px auto;
            min-width: 60px;
            height: 2px;
            position: static;
            align-self: flex-end;

            hr {
                background: #34C759;
                border: none;
                width: 100%;
                height: 100%;
            }
        }

    }

    ._bot {
        display: inline;
        font-size: 50px;
        position: relative;
    }

    @media (max-width:1342px) {
        .hr {
            position: absolute !important;
            top: 160px !important;
        }
    }
}

.how-it-works {
    max-width: 76%;
    margin: 0 auto;
    min-height: 476px;
    height: 476px;

    &__title {
        display: flex;
        width: 100%;
        height: 50%;
        .set-often-title();
    }

    &__main {
        display: flex;
        flex-flow: row wrap;
        height: 50%;
        width: 100%;
        justify-content: space-between;

        &-card {
            color: white;
            padding: 24px;
            width: 255px;
            height: 206px;
            max-width: 255;
            background: #202020;
            border-radius: 7px;
            transition-timing-function: linear;
            transition-property: color, background;
            transition-duration: 0.35s, 0.5s;

            &:hover {
                background: #31c858;
                color: #000;

                .main {
                    opacity: 1;
                }
            }

            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                letter-spacing: -0.275px;
                text-transform: capitalize;
            }

            .hr {
                max-width: 56px;

                hr {
                    width: 100%;
                    height: 1.5px;
                    margin-top: 10px;
                    margin-bottom: 24px;
                    background: #34C759;
                    opacity: 1 !important;
                    border: none;
                }
            }

            .main {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 18px;
                opacity: 0.5;
                letter-spacing: -0.1625px;
            }
        }
    }
}


.dishes {
    max-width: 76%;
    margin: 0 auto;

    &__title {
        display: flex;
        width: 100%;
        height: 240px;
        .set-often-title();
    }

    &__main {
        height: auto;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        &-card {
            margin: 30px 0 0 0;
            width: 350px;
            height: 493px;
            background: #202020;

            .img-top {
                height: 50%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }

            .bot {
                height: 50%;
                width: 100%;

                .title {
                    padding: 0 6% 0 10.28%;
                    margin: 29px 0 20px 0;

                    span {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 30px;
                        color: #D9D9D9;
                    }

                    .subtitle {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: -0.15px;
                        color: #A4A8B2;
                    }
                }

                .txt {
                    padding: 0 6% 0 10.28%;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: -0.1625px;
                    color: #85878C;
                    margin: 0 0 26px 0;
                }

                .grade {
                    display: flex;
                    width: 100%;
                    padding: 0 5.14% 0 10.28%;
                    flex-flow: row nowrap;

                    .stars {
                        flex: 1;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: center center;
                        background-image: url(../img/stars.png);
                    }

                    .btn {
                        flex: 1;

                        button {
                            background:
                                /*HOVER #34C759 HOVER*/
                                inherit;
                            border: 1px solid white;
                            opacity: 0.5;
                            width: 100px;
                            height: 40px;
                            float: right;
                            color: white;
                            box-sizing: border-box !important;
                            font-weight: 900;
                            font-size: 10px;
                            transition: all ease-out 0.5s;
                            line-height: 40px;
                            text-align: center;
                            letter-spacing: 0.2em;
                            text-transform: uppercase;
                            border-radius: 30px;

                            &:hover {
                                background: #34C759;
                                border: none;
                                color: black;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &:nth-child(1) {
                .img-top {
                    background-image: url(../img/f1.png);
                }

            }

            &:nth-child(2) {
                .img-top {
                    background-image: url(../img/f2.png);
                }

            }

            &:nth-child(3) {
                .img-top {
                    background-image: url(../img/f3.png);
                }

            }

            &:nth-child(4) {
                .img-top {
                    background-image: url(../img/f4.png);
                }

            }

            &:nth-child(5) {
                .img-top {
                    background-image: url(../img/f5.png);
                }

            }

            &:nth-child(6) {
                .img-top {
                    background-image: url(../img/f6.png);
                }

            }

            &:nth-child(7) {
                .img-top {
                    background-image: url(../img/f7.png);
                }

            }

            &:nth-child(8) {
                .img-top {
                    background-image: url(../img/f8.png);
                }

            }
        }
    }
}


.chefs {
    overflow: hidden;
    max-width: 77%;
    margin: 0 auto;

    .chefs__title {
        display: flex;
        width: 100%;
        height: 240px;
        .set-often-title();

        #h32 {
            width: 150%;
            max-width: 150%;
            margin-left: -20%;

            @media (max-width:500px) {
                & {
                    max-width: 100% !important;
                    margin-left: 0 !important;
                }
            }
        }
    }

    &__main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        &-card {
            width: 350px;
            max-width: 350px;
            height: 154px;

            .top {
                display: flex;
                max-height: 50%;

                .name {
                    margin-left: 24px;
                    margin-top: 19px;

                    span {
                        display: block;

                        &:first-child {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            letter-spacing: -0.225px;
                            color: #FFFFFF;
                        }

                        &:last-child {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 16px;
                            letter-spacing: -0.15px;
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }

            .bot {
                max-height: 50%;
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}


.recipes {
    max-width: 77%;
    margin: 0 auto;

    &__title {
        display: flex;
        width: 100%;
        height: 240px;
        .set-often-title();

        @media (max-width: 600px) {
            & {
                .h3 {
                    width: 150% !important;
                    max-width: 150% !important;
                }
            }
        }

        .h3 {
            max-width: 200%;
            width: 200%;

            @media (max-width:500px) {
                & {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    &__main {
        width: 100%;
        height: auto;
        min-height: 510px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .left {
            background: url(../img/r1.png) no-repeat center / cover;
            width: 48.64%;
            height: 100%;
            min-width: 400px;
            max-width: 540px;

            .content {
                width: 100%;
                position: relative;
                height: 100%;
                padding: 60px 16.66%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .arrow {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #252525;
                    opacity: 0.65;
                    border-radius: 50%;
                }

                .tag {
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    width: 90px;
                    height: 30px;
                    background: #000;
                    font-weight: 900;
                    font-size: 10px;
                    line-height: 25px;
                    text-align: center;
                    letter-spacing: 1.25px;
                    text-transform: uppercase;
                    border-radius: 4px;
                    color: #FFFFFF;
                    opacity: 0.5;
                }

                .date {
                    width: 13.98%;
                    min-width: 74px;
                    height: 30px;
                    margin-top: 65px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 30px;
                    color: #FFFFFF;
                }

                .main {
                    /*width: 76.1%;*/
                    text-align: center;
                    margin-top: 25px;
                    font-weight: 500;
                    font-size: 24px;
                    text-align: center;
                    color: #FFFFFF;
                }

                .name {
                    margin-top: 45px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 30px;
                    color: #FFFFFF;
                }

                .feedback {
                    min-width: 140px;
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;

                    img:first-of-type {
                        max-width: 22px;
                        max-height: 18px;
                        min-width: 22px;
                        min-height: 18px;
                    }

                    img:last-of-type {
                        max-width: 20px;
                        max-height: 18px;
                        min-width: 20px;
                        min-height: 18px;
                    }

                    span {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                }
            }
        }

        .right {
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            &__card {
                height: 150px;
                border-radius: 3%;
                width: 50%;
                background: #202020;
                color: #fff;
                transition: all linear 0.5s;
                padding: 30px 0 0 30px;

                &:hover {
                    background: #31c858;

                    p,
                    div,
                    span {
                        color: black !important;
                    }

                    .img {
                        background-image: url(../img/eye_hover.png) !important;
                    }

                    .img {
                        background: url(../img/mess_hover.png) no-repeat center / 100% !important;
                    }
                }

                .bot {
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;

                    &__left {
                        button {
                            width: 65px;
                            height: 25px;
                            background: #131313;
                            border: none;
                            color: white;
                            border-radius: 5px;
                            font-weight: 900;
                            font-size: 10px;
                            line-height: 25px;
                            text-align: center;
                            letter-spacing: 1.25px;
                            text-transform: uppercase;
                        }

                        span {
                            margin-left: 15px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 25px;
                            color: #B3B3B3;
                        }
                    }

                    &__right {
                        width: 61px + 24px + 54px;

                        .img {
                            display: inline-block;
                            max-width: 22px;
                            max-height: 18px;
                            min-width: 22px;
                            min-height: 18px;
                            background: url(../img/eye.png) no-repeat center / 80%;
                        }

                        .img.s {
                            display: inline-block;
                            max-width: 20px;
                            max-height: 18px;
                            min-width: 20px;
                            min-height: 18px;
                            margin-left: 24px;
                            background: url(../img/answ.svg) no-repeat center / 80%;
                        }

                        span {
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 30px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

.social {
    max-width: 77%;
    margin: 0 auto;

    &__title {
        display: flex;
        height: 240px;
        .set-often-title();
    }

    &__main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .card {
            margin-top: 30px;
            position: relative;
            height: 330px;
            min-width: 350px;
            max-width: 350px;
            background: #202020;
            overflow: hidden;
            padding: 0 30px 0 30px;

            &:hover {
                overflow-y: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
                -moz-overflow-scrolling: touch;
                -ms-overflow-scrolling: touch;
                -o-overflow-scrolling: touch;
                overflow-scrolling: touch;
            }

            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 7px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                background-color: rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
            }

            img,
            span,
            button {
                display: block;
            }

            .top {
                height: 65px + 25px;
                border-bottom: 1px solid #2d2d2d;
                width: 100%;
                padding-left: 25px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                span:first-of-type {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 30px;
                    color: #BFBFBF;
                    width: 106px;
                    height: 30px;
                    margin-left: 20px;
                }

                button {
                    width: 100px;
                    height: 40px;
                    background: #262626;
                    border: 2px solid #303030;
                    border-radius: 30px;
                    font-weight: 900;
                    font-size: 10px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #737373;
                }
            }

            .bot {
                overflow: hidden;
                padding: 20px 30px 30px 0;

                .subtitle {
                    &:not(:first-of-type) {
                        margin-top: 30px;
                    }

                    font-weight: 500;
                    font-size: 14px;
                    line-height: 30px;
                    margin-bottom: 10px;
                    color: #737373;
                }

                .txt {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 30px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}


.footer-wrapper {
    margin-top: 120px;
    width: 100%;
    background-color: #202020;

    .card-container {
        padding: 30px 0 30px 0;
        max-width: 77%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .header__card {
            text-align: center;
            width: 22.27%;
            min-width: 200px;
            display: flex;
            min-height: 95px;
            height: 95px;
            max-height: 95px;
            flex-direction: column;
            justify-content: center;

            img {
                max-height: 20px;
                max-width: 20px;
                margin: 0 auto 16px auto;
            }

            &:first-child {
                img {
                    max-height: 20px !important;
                    max-width: 20px !important;
                }
            }

            .top {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #FFFFFF;
            }

            .bot {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }
    }

    footer {
        border-top: 1px solid #303030;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 125px;

        p {
            font-weight: 500;
            font-size: 12px;
            margin-top: 10px;
            text-align: center;
            color: #737373;
        }
    }
}
